{% include 'app/base.html' %}
{% load static %}
{% load i18n %}
{% block extra_head %}
<title>Settings</title>
<link rel="stylesheet" href="{% static 'app/css/settings.css' %}">
{% endblock %}
{% block content %}
<div class="wrapper">
    <div class="title-text">
        <div class="title">{% trans "Settings" %}</div>
    </div><br><hr><br>
    <div class="form-container">
        <div class="form-inner">
            <form method="get" class="update-profile">
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <a href="#" class="btn-content"><i class="fas fa-bell"></i>{% trans "Notifications" %}</a>
                    
                    <label class="switch">
                        <input type="checkbox" id="notification-switch">
                        <span class="slider" style="width:90px;"></span>
                    </label>
                    <span>{% trans "Enable Notifications" %}</span>
                </div><br>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <a href="{% url "security" %}" class="btn-content"><i class="fas fa-shield-halved"></i>{% trans "Security" %}</a>
                </div><br>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <a href="{% url "language" %}" class="btn-content"><i class="fas fa-language"></i>{% trans "Language" %}</a>
                </div><br>
            </form>
        </div>
    </div>
</div><br>


<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const notificationSwitch = document.getElementById('notification-switch');
        const notificationStatus = localStorage.getItem('notification-status');
        
        if (notificationStatus === 'enabled') {
            notificationSwitch.checked = true;
        }
        
        notificationSwitch.addEventListener('change', function() {
            if (this.checked) {
                if (Notification.permission === 'default' || Notification.permission === 'denied') {
                    Notification.requestPermission().then(permission => {
                        if (permission === 'granted') {
                            localStorage.setItem('notification-status', 'enabled');
                        } else {
                            this.checked = false;
                            localStorage.setItem('notification-status', 'disabled');
                        }
                    });
                } else {
                    localStorage.setItem('notification-status', 'enabled');
                }
            } else {
                localStorage.setItem('notification-status', 'disabled');
            }
        });
    });
</script>
{% endblock %}
