{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block extra_head %}
    <title>Rest successfully</title>
    <link rel="stylesheet" href="{% static 'accounts/css/reset_password_complete.css' %}">
{% endblock %}
{% block content %}
        <img src="{% static 'image/account/success.png' %}" alt="success">
        <h1>{% trans "Change password successfully" %}</h1>
        <br>
        <div class="login">
            <a href="{% url 'login' %}">{% trans "Login" %}</a>
        </div>
    
{% endblock %}
