{% extends 'base.html' %}
{% load static %} 
{% load i18n %}

{% block extra_head %}
<title>Security</title>
<link rel="stylesheet" href="{% static 'app/css/settings/security.css' %}">
{% endblock %}
 
{% block content %}
<div class="wrapper">
  <div class="title-text"><br>
    <div class="title">{% trans "Reset Password" %}</div>
  </div>
  <div class="form-container">
    <div class="form-inner">
      <form method="post" class="update-profile" onsubmit="showLoadingOverlay()">{% csrf_token %}
        <div class="field name">
          {{form.new_password1.label}}
          {{form.new_password1}}
        <div class="field"><br>
          {{form.new_password2.label}}
          {{form.new_password2}}
          <br>
          {% if form.new_password2.errors %}  
          <div class="errorr"> {{ form.new_password2.errors }} </div>
          {% endif %}
        </div><br><br><br>

        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="submit" id="submitBtn" value="{% trans "Save" %}">
        </div>
        {% for error in form.non_field_errors %}
        <div class="error">{{error}}</div>
        {% endfor %}
      </form><br>
    </div>
  </div>
</div>

<div class="loading-overlay" id="loadingOverlay">
  <div class="spinner"></div>
</div>
<script>
 
  function showLoadingOverlay() {
    document.getElementById('loadingOverlay').classList.add('active');
  }
</script>

{% endblock %}