{% extends 'base.html' %}
{% load static %} 
{% load i18n %}

{% block extra_head %}
<title>Rest Password</title>
<link rel="stylesheet" href="{% static 'app/css/settings/security.css' %}">
{% endblock %}
 
{% block content %}

<div class="wrapper">
  <div class="title-text">
    <div class="title">{% trans "Reset Password" %}</div>
  </div><br><br><hr><br>
  <div class="form-container">
    <div class="form-inner">
      <form method="post" class="update-profile" onsubmit="showLoadingOverlay()">{% csrf_token %}
        <div class="field name">
            
            <input type="email" name="email" placeholder="Enter your email" required>
        <div/>

        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="submit" id="submitBtn" value="{% trans "Send" %}" disabled>
        </div>
      </form><br>
    </div>
  </div>
</div>

<div class="loading-overlay" id="loadingOverlay">
  <div class="spinner"></div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const submitBtn = document.getElementById('submitBtn');
    const inputs = document.querySelectorAll('.update-profile input[type="text"], .update-profile input[type="email"]');

    function checkInputs() {
      let formModified = false;
      inputs.forEach(input => {
        if (input.value !== input.defaultValue) {
          formModified = true;
        }
      });
      submitBtn.disabled = !formModified;
      submitBtn.style.backgroundColor = formModified ? "blue" : "grey";
    }

    // Set initial button color based on its disabled state
    submitBtn.style.backgroundColor = submitBtn.disabled ? "grey" : "blue";

    inputs.forEach(input => {
      input.addEventListener('input', checkInputs);
    });
  });

  function showLoadingOverlay() {
    document.getElementById('loadingOverlay').classList.add('active');
  }
</script>

{% endblock %}