body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* منع تمرير الصفحة */
}

#chat-container {
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    height: 94%; /* تعديل الارتفاع ليكون 90% */
    width: 360px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    transform: translateY(-23px);
    text-align: center;
}

#chat-header {
    background: #007bff;
    color: #fff;
    padding: 15px;
    font-size: 1.4em;
    position: relative;
    text-align: center;
}

#new-chat-btn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    color: #007bff;
    border: 1px solid #007bff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

#new-chat-btn:hover {
    background: #007bff;
    color: #fff;
}

#chat-box {
    padding: 20px;
    flex: 1; /* لملء المساحة المتاحة */
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
    background: #dfdfdf;
}

#chat-box p {
    margin: 10px 0;
    display: flex;
    align-items: center;
    word-wrap: break-word;
}

#chat-box .user-message {
    justify-content: flex-end;
    text-align: right;
}

#chat-box .ai-message {
    justify-content: flex-start;
}

#chat-box .message-content {
    max-width: 80%;
}

#chat-box .user-message .message-content {
    background: #007bff;
    color: #fff;
    border-radius: 15px 15px 0 15px;
    padding: 10px;
}

#chat-box .ai-message .message-content {
    background: #f1f1f1;
    color: #000;
    border-radius: 15px 15px 15px 0;
    padding: 10px;
}

#chat-form {
    display: flex;
    padding: 15px;
    background: #f9f9f9;
    border-bottom-left-radius: 8px; /* تطبيق border-radius */
    border-bottom-right-radius: 8px; /* تطبيق border-radius */
    transform: translateY(-10px);
}

#message {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    border-radius: 20px;
}

#chat-form button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

#chat-form button:hover {
    background: #0056b3;
}

#chat-form .fa-paper-plane {
    margin-right: 0;
}

#file-input {
    display: none;
}

#upload-btn {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

#upload-btn:hover {
    background: #0056b3;
}