
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

img{
   
    width: 30%;
    
}

h1 {
    margin-bottom: 80px;
    font-size: 2em;
    color:rgb(11, 43, 61);
    text-align: center;
}

body{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.separator a,.post-body img{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;pointer-events:none}
pre,kbd,blockquote,table{-webkit-user-select:text;-khtml-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text}
